<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shop.plea.and">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="shop.plea.and.ui.activity.IntroActivity"
            android:theme="@style/LoadingTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="shop.plea.and.ui.activity.CartActivity"
            android:theme="@style/AppThemeSub">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="787993b5b56c8505371654f27ef8ae7fae0a8639" />

        <activity android:name="shop.plea.and.ui.activity.TransFormerActivity"
            android:theme="@style/AppThemeSub"></activity>
    </application>

</manifest>